{
  "openapi": "3.0.0",
  "info": {
    "title": "ConnectBox API with Authentication",
    "version": "1.0.0",
    "description": "API documentation using Swagger"
  },
  "servers": [
    {
      "url": "https://born-to-be-me.com:3000"
    }
  ],
  "paths": {
    "/api/borntobeme/articles": {
      "get": {
        "summary": "Retrieve a list of all articles",
        "tags": [
          "Articles"
        ],
        "responses": {
          "200": {
            "description": "A list of articles.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new article",
        "tags": [
          "Articles"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ArticleInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Article created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Article"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "description": "Unauthorized (token missing or invalid)"
          },
          "403": {
            "description": "Forbidden (user does not have admin role)"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/borntobeme/articles/{id}": {
      "get": {
        "summary": "Retrieve a single article by ID",
        "tags": [
          "Articles"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The article ID"
          }
        ],
        "responses": {
          "200": {
            "description": "A single article.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Article"
                }
              }
            }
          },
          "404": {
            "description": "Article not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "put": {
        "summary": "Update an existing article",
        "tags": [
          "Articles"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The article ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ArticleInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Article updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Article"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Article not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "delete": {
        "summary": "Delete an article",
        "tags": [
          "Articles"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The article ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Article deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Article deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Article not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/borntobeme/auth/add-user": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Register a new user",
        "description": "Creates a new user account in the system. Requires fullname, email, date of birth, and password. Role defaults to 'user' if not provided. Linkphoto is optional.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserRegistrationInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User registered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "User registered successfully"
                    },
                    "user": {
                      "$ref": "#/components/schemas/User"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request (e.g., user already exists, missing fields, invalid data)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/borntobeme/auth/login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Authenticate a user",
        "description": "Logs in an existing user using their email and password, and returns a JWT token upon successful authentication.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserLoginInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authentication successful, token returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginSuccessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Article": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "The auto-generated ID of the article.",
            "example": "60c72b2f9b1e8c001c8e4d8f"
          },
          "title": {
            "type": "string",
            "description": "Title of the article.",
            "example": "Understanding REST APIs"
          },
          "content": {
            "type": "string",
            "description": "Main content of the article.",
            "example": "REST stands for Representational State Transfer..."
          },
          "author": {
            "type": "string",
            "description": "ID of the user who authored the article.",
            "example": "507f1f77bcf86cd799439011"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of article creation."
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of last article update."
          }
        }
      },
      "ArticleInput": {
        "type": "object",
        "required": [
          "title",
          "category",
          "content"
        ],
        "properties": {
          "title": {
            "type": "string",
            "description": "Title of the article.",
            "example": "New Article on Node.js"
          },
          "content": {
            "type": "string",
            "description": "Main content of the article.",
            "example": "Node.js is a JavaScript runtime built on Chrome's V8 engine..."
          },
          "category": {
            "type": "string",
            "description": "Category of the article.",
            "example": "Technology"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "format": "uuid",
            "description": "The auto-generated UUID of the user.",
            "example": "60c72b2f9b1e8c001c8e4d8f"
          },
          "fullname": {
            "type": "string",
            "example": "John Doe"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "john.doe@example.com"
          },
          "datebirthday": {
            "type": "string",
            "format": "date",
            "example": "1990-01-15"
          },
          "linkphoto": {
            "type": "string",
            "format": "url",
            "nullable": true,
            "example": "https://example.com/photo.jpg"
          },
          "role": {
            "type": "string",
            "enum": [
              "user",
              "admin"
            ],
            "example": "user"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of user creation."
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of last user update."
          }
        }
      },
      "UserRegistrationInput": {
        "type": "object",
        "required": [
          "fullname",
          "email",
          "datebirthday",
          "password"
        ],
        "properties": {
          "fullname": {
            "type": "string",
            "example": "John Doe"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "john.doe@example.com"
          },
          "datebirthday": {
            "type": "string",
            "format": "date",
            "example": "1990-01-15"
          },
          "linkphoto": {
            "type": "string",
            "format": "url",
            "nullable": true,
            "example": "https://example.com/photo.jpg"
          },
          "role": {
            "type": "string",
            "enum": [
              "user",
              "admin"
            ],
            "default": "user",
            "example": "user"
          },
          "password": {
            "type": "string",
            "format": "password",
            "example": "P@$$wOrd123"
          }
        }
      },
      "UserLoginInput": {
        "type": "object",
        "required": [
          "email",
          "password"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "example": "john.doe@example.com"
          },
          "password": {
            "type": "string",
            "format": "password",
            "example": "P@$$wOrd123"
          }
        }
      },
      "LoginSuccessResponse": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI2MGM3YjIwMzYwZ..."
          },
          "user": {
            "type": "object",
            "properties": {
              "_id": {
                "type": "string",
                "format": "uuid",
                "example": "60c72b2f9b1e8c001c8e4d8f"
              },
              "email": {
                "type": "string",
                "format": "email",
                "example": "john.doe@example.com"
              },
              "fullname": {
                "type": "string",
                "example": "John Doe"
              },
              "role": {
                "type": "string",
                "enum": [
                  "user",
                  "admin"
                ],
                "example": "user"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "A human-readable error message.",
            "example": "Invalid input"
          },
          "errors": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "object",
              "properties": {
                "field": {
                  "type": "string",
                  "description": "The field that caused the error.",
                  "example": "email"
                },
                "message": {
                  "type": "string",
                  "description": "The specific error message for the field.",
                  "example": "Email is already taken"
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "tags": [
    {
      "name": "Articles",
      "description": "Article management"
    }
  ]
}